@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;500;600&family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

:root{
	--color-negro:#2b2b2b;
	--fondo-top:#2c2e30;
	--header:#3b4044;
	--color-primario:#fdd14f;
	--color-contenido:#808080;
	--color-titulos:#fdd14f;
}

body{
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	color: #FFFFFF;
	background-color: #2b2b2b;
	
}

a{
	font-family: 'Montserrat', sans-serif;	
	}

h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;
	
}
 

.section{
	padding:50px 0;
	min-height:300px;
}

.header-area.sticky {
    /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);*/
	width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 99999;
	transition: 0.3s all ease;
}
.header-area.sticky .navbar-light{
	background-color: #2b2b2b !important;
}

.carousel-caption{
	display: grid;
	align-items:flex-start;	
	align-content:center;
	height: 100%;
	text-align:right;
			
}

.btn-primary{
	background-color: #fdd14f;
	border: 0;
	padding: 10px 35px;
	font-size: 14px;
	border-radius: 0;
}

.carousel-caption a {
	color: #000000; 
}

.carousel-caption h2 {
	font-weight: 600;
	font-size: 50px;
}

.btn-primary:hover{
	background-color: #ae7e18;
	color:#FFFFFF;
}

header{
	background-color: #2b2b2b; 
}


i{
	font-size: 50px;
	width: 100px;
	height:100px;
	line-height: 80px;
	text-align: center;
	border-radius: 100%;
	color: var(--color-primario);
	
}

#acerca{
	background-color: #161414;
	color: #fff;
	align-content: center;
	text-align: center;
	padding: 5%;
}


.title{
	font-size: 40px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 10px;
	
}
.subtitle{
	font-size: 55px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 70px;
	color: var(--color-titulos);
}




footer{
	background: #131313;
	padding: 20px 0;
	
}

.overlay{
	background-color: rgba(0,0,0,0.40);
	padding: 12% 0;
}

.capa-relative{
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.capa-overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.45);
	z-index: 100;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}
.capa-texto{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	color: #fff;
	text-align: center;
	display: grid;
	align-items: center;
	font-weight: 600;
	font-size: 40px;
	z-index: 101;
	opacity: 0;
	transform: rotate(-90deg);
}
.capa-relative:hover .capa-overlay{
	opacity: 1;
	transition: all 1s ease-in-out;
}
.capa-relative:hover .capa-texto{
	opacity: 1;
}


.capa-relative:hover img{
	
	transition: all 1s ease-in-out;
	transform: scale(1.20);
}
.capa-relative img{
	transition: all 1s ease-in-out;
}


.derechos{
	color: #FFFFFF;
	text-align: center;
}

#about{
	margin: 0;
	padding: 0;
}

.text{
	text-align: center;
	font-size: 35px;
	font-weight: 700;
	margin-bottom: 40px;
	
}

.text span{
	font-size: 35px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 40px;
	color: var(--color-titulos);
}

.historia {
	text-align: center;
}

.contacto{
	text-align: center;
	font-size: 40px;
	font-weight: 600;
	margin-bottom: 30px;
	
}


#contact i{
	font-size: 40px;
	width: 100px;
	height:100px;
	line-height: 40px;
	text-align: center;
	border-radius: 100%;
	color: var(--color-primario);
	
}


/*Computadora*/
@media (min-width:1200px){
	
	
}

/*Tableta*/
@media (min-width:600px) and (max-width:1200px){
	
	
}

/*Celular*/
@media (max-width:600px){
	
	.carousel-caption h2{
		font-size: 24px;
		text-align: center;
	}
	.carousel-caption p{
		display: none;
	}
	.carousel-caption img{
		display: none;
	}
	.btn-primary{
		padding: 5px 10px;
	}
	
	
}


